	body {
		background:
			linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), /* White overlay */ url('forest.png'); /* Background image */
		background-size: cover;
	}
body { 
	font-family: Arial, sans-serif; 
	line-height: 1.8; 
	} 
	p { 
	margin-bottom: 20px; 
	}